- var ext = '';//minified ? ".min" : '';

mixin app()
    div(class="app about-page")

        +menu()

        +landing-section()
        +our-philosophy()
        +our-team()

        +footer()
        +popup()

mixin menu() 
    section(class="menu")
        button(class="close-btn")
            span(class="bar")
            span(class="bar")

        div(class="background")
            div(class="portion")
            div(class="portion")
            div(class="portion")

        div(class="content")
            nav(class="nav")
                a(class="link") 
                    span(class="fa fa-users")
                    span(class="text") About Us

                a(class="link") 
                    span(class="fa fa-building")
                    span(class="text") What We offer

                a(class="link") 
                    span(class="fa fa-calendar")
                    span(class="text") Schedule

                a(class="link") 
                    span(class="fa fa-envelope")
                    span(class="text") Contact

                a(class="link") 
                    span(class="fa fa-money")
                    span(class="text") Join Us

                a(class="link") 
                    span(class="fa fa-sign-in")
                    span(class="text") Login

            nav(class="social")
                a(class="link") 
                    div(class="social-item")
                        span(class="fa fa-facebook")

                a(class="link") 
                    div(class="social-item")
                        span(class="fa fa-instagram")

                a(class="link") 
                    div(class="social-item")
                        span(class="fa fa-twitter")

                a(class="link")
                    div(class="social-item")
                        span(class="fa fa-youtube")

mixin landing-section() 
    section(class="landing")
        header(class="header-bar")

            p(class="title") About Us

            button(class="menu-btn")
                +triangle('left', 'background', 'small')
                div(class="bars")
                    span(class="bar")
                    span(class="bar")
                    span(class="bar")

        div(class="header") What is NinjaFit Gym?

        div(class="content")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

mixin our-philosophy()
    section(class="our-philosophy")
        div(class="background")
            div(class="top")    
                +trianglehalf('right')
            div(class="middle")
            div(class="bottom")
                +trianglehalf('down')

            div(class="triangle")
                +triangle('left', null, 'small')

        div(class="image")

        header(class="header") Our Philosophy

        div(class="content")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

mixin our-team()
    section(class="team")
        header(class="header") Meet the Team
        div(class="content")
            ul(class="staff-list")
                li(class="staff-member")
                    div(class="member-image")
                        div(class="image")
                    div(class="member-name") Casey Seland
                    div(class="member-title") Trainer
                    footer(class="footer")
                        button(class="btn") bio

                li(class="staff-member")
                    div(class="member-image")
                        div(class="image")
                    div(class="member-name") Rebekah Myers
                    div(class="member-title") Trainer
                    footer(class="footer")
                        button(class="btn") bio

                li(class="staff-member")
                    div(class="member-image")
                        div(class="image")
                    div(class="member-name") Kathryn Ciresi
                    div(class="member-title") Trainer
                    footer(class="footer")
                        button(class="btn") bio

                li(class="staff-member")
                    div(class="member-image")
                        div(class="image")
                    div(class="member-name") Chad Young
                    div(class="member-title") Owner/Head Trainer
                    footer(class="footer")
                        button(class="btn") bio

                li(class="staff-member")
                    div(class="member-image")
                        div(class="image")
                    div(class="member-name") Dan Goldstein
                    div(class="member-title") Owner
                    footer(class="footer")
                        button(class="btn") bio

                li(class="staff-member")
                    div(class="member-image")
                        div(class="image")
                    div(class="member-name") Donna Zeitler
                    div(class="member-title") Owner
                    footer(class="footer")
                        button(class="btn") bio

mixin footer()
    footer(class="page-footer")
        div(class="logo")
            div(class="title") NinjaFit Gym
            div(class="copyright") NinjaFit Gym © 2017

        div(class="nav")
            div(class="title") Menu

            a(class="link") 
                span(class="text") About Us
            a(class="link") 
                span(class="text") What We Offer
            a(class="link") 
                span(class="text") Schedule
            a(class="link") 
                span(class="text") Contact
            a(class="link") 
                span(class="text") Join Us
            a(class="link") 
                span(class="text") Login

        div(class="nav")
            div(class="title") Get Started

            a(class="link") 
                span(class="text") Join Us
            a(class="link")
                span(class="text") Login

        div(class="nav")
            div(class="title") Connect With Us

            a(class="link") 
                span(class="fa fa-facebook")
                span(class="text") Facebook

            a(class="link") 
                span(class="fa fa-instagram")
                span(class="text") Instagram

            a(class="link") 
                span(class="fa fa-twitter")
                span(class="text") Twitter

            a(class="link")
                span(class="fa fa-youtube")
                span(class="text") Youtube

mixin popup() 
    div(class="popup staff-member")
        div(class="header")
            div(class="image")
            div(class="details")
                div(class="name") Casey Seland
                div(class="title") Trainer
                ul(class="social-list")
                    li(class="social-link fa fa-facebook")
                    li(class="social-link fa fa-twitter")
                    li(class="social-link fa fa-instagram")

            button(class="close-btn")
                span(class="bar")
                span(class="bar")
        div(class="content")
            p Training and competing have been a focal point for me throughout my entire life. I competed in gymnastics at a high level until I was 9 years old and decided to switch sports. I began swimming competitively at this point and did so throughout college and beyond. My middle school and high school years were devoted to competing on various national teams and training for a chance to earn a spot on the US Olympic Team. I competed in the 2000, 2004 and 2008 US Olympic Trials in the 100 and 200m butterfly. During this time, I swam at the University of Florida, where I was an All-American. When I decided to retire from swimming I took on running competitively. I’ve run in a variety of races including the New York City Marathon; and also qualified for the Boston Marathon. I recently started to compete in Obstacle Course Racing and will be competing in the US Nationals in Miami to earn a spot on Team USA. I’ll also be competing in OCR World’s in Canada. I’ve also set a goal to start competing in Ninja competitions in the near future.
            p Throughout my years of competing I found my passion for helping others achieve their own goals in fitness and health. I’m a NASM (National Academy of Sports Medicine) Certified Personal Trainer, with a specialization in Sports Nutrition. I’ve committed myself to being a student and constantly growing, learning and seeking education so that I can help others with my passion and the knowledge I attain. I’ve also worked at DC Fitness in Los Angeles, CA along with Lake Mary Fit Club.
            p When I’m not coaching you can still find me at the gym quite frequently along with running, doing yoga, rock climbing, kickboxing, surfing at the beach, or teaching swim lessons! I’m also involved in the Special Needs ministry at my church.
    div(class="popup-cover")


- var tw = 500; // triangle width
- var tx = 0;     // x offset
- var th = tw * 2 / Math.sqrt(3);
- var ty = 0;
- var tf = "#dropshadow-";

mixin triangle(dir, c, size) 
    - var f = "url(#triangle-dropshadow)";

    svg(class=c viewBox=`0 0 ${tw} ${th}`)

        if dir == 'left'
            path(filter=`url(${tf}${size || 'large'})` d=`M${tw - tx},${ty} L${tw - tx},${th - ty} L${tx},${th / 2} Z`)

        else if dir == 'right'
            path(filter=`url(${tf}${size || 'large'})` d=`M${tx},${ty} L${tw - tx},${th / 2} L${tx},${th - ty} Z`)

mixin trianglehalf(dir, c, size)
    - var w = tw;
    - var h = th / 2;
    - var x = tx;
    - var y = ty / 2;

    if dir == 'left'
        svg(class=c viewBox=`0 0 ${w} ${h}`)
            path(filter=`url(${tf}${size || 'large'})` d=`M${w - x},${y} L${w - x},${h - y} L${x},${h - y} Z`)

    else if dir == 'right'
        svg(class=c viewBox=`0 0 ${w} ${h}`)
            path(filter=`url(${tf}${size || 'large'})` d=`M${x},${y} L${w - x},${h - y} L${x},${h - y} Z`)

    else if dir == 'down'
        svg(class=c viewBox=`0 0 ${w} ${h/2}`)
            path(filter=`url(${tf}${size || 'large'})` d=`M${x},${y} L${w - x},${y} L${w / 2},${(h - y) / 2} Z`)

    else if dir == 'right-up'
        svg(class=c viewBox=`0 0 ${w} ${h}`)
            path(filter=`url(${tf}${size || 'large'})` d=`M${x},${y} L${w - x},${y} L${w - x},${h - y} Z`)



mixin defs() 
    svg(class="defs" xmlns="http://www.w3.org/2000/svg")
        defs
            filter#dropshadow-small(height="150%")
                feGaussianBlur(in="SourceAlpha" stdDeviation="25")
                feMerge 
                    feMergeNode
                    feMergeNode(in="SourceGraphic")

            filter#dropshadow-medium(height="150%")
                feGaussianBlur(in="SourceAlpha" stdDeviation="15")
                feMerge 
                    feMergeNode
                    feMergeNode(in="SourceGraphic")

            filter#dropshadow-large(height="150%")
                feGaussianBlur(in="SourceAlpha" stdDeviation="5")
                feMerge 
                    feMergeNode
                    feMergeNode(in="SourceGraphic")

            linearGradient#grad-2(x1="0%" y1="0%" x2="0%" y2="100%")
                stop(stop-color="#7c2db9" stop-opacity="1" offset="0%")
                stop(stop-color="#6e448e" stop-opacity="1" offset="100%")

            pattern#image-slider-pattern(patternUnits="userSpaceOnUse" width="100%" height="100%")
                image(x="0" y="0" width="100%" height="100%" xlink:href="http://raidenkaneda.com/images/seattle-grayscale.jpg")

            clipPath#image-slider-clip(clipPathUnits="objectBoundingBox")
                polygon

            clipPath#map-clip(clipPathUnits="objectBoundingBox")
                polygon

//- document
doctype html
html
    head
        title NinjaFit Gym
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href=`https://fonts.googleapis.com/css?family=Titillium+Web` rel="stylesheet")
        link(href=`https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css` rel="stylesheet")
        link(href=`./css/main${ext}.css` rel="stylesheet")
        script(async type="text/javascript" src=`./js/main${ext}.js`)
    body
        +defs()
        +app()